<div class="content-block headingrow">
    <div class="row">
        <div class="col-md-8">
            <div class="welcome">
                <i class="fa fa-user-plus"></i>
                <h1><span>Delete Employees - {{corporateBasicDetails.CorporateInfo_Name}}</span></h1>
                <p> <a [routerLink]="['/']" class="link">Home</a> > <a [routerLink]="['/corporate']" class="link">Corporates</a></p>
            </div>
        </div>
        <div class="col-md-4 text-right selectcorporate">
            <a [routerLink]="['/corporate/view',corporateBasicDetails.CorporateInfoID]" class="btn btn-default custombutton"><i class="fa fa-long-arrow-left"></i> Back</a>
        </div>
    </div>
</div>

<div class="content-block customformstyle">
    <div class="row">
        <div class="panel panel-default alt">
            <delete-import-user *ngIf="IsShowComponent"></delete-import-user>
        </div>
    </div>
</div>