<div class="panel-body">
    <form class="form-horizontal row-border" name="corporatefeature" #f="ngForm" novalidate
          (ngSubmit)="SaveAddonFeature()">
        <!--<div class="form-group">
            <label class="col-sm-2 control-label">Select program :</label>
            <div class="col-sm-8 col-sm-offset-1">
                <span class="radio inline customradio fontweightb">
                    <input type="radio" class="tectonic" id="BasicPlatform" name="PremiumDashboard" [value]="false" [(ngModel)]="corporateFeaturs.PremiumDashboard">
                    <label for="BasicPlatform">Basic Platform</label>
                </span>
                <span class="radio inline customradio fontweightb">
                    <input type="radio" class="tectonic" id="PremiumPlatform" name="PremiumDashboard" [value]="true" [(ngModel)]="corporateFeaturs.PremiumDashboard">
                    <label for="PremiumPlatform">Premium Platform</label>
                </span>
            </div>
        </div>-->
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-8 col-sm-offset-1 addonfea">Add-On Features Available:</div>
        </div>
        <div class="form-group" style="border-top:0">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-8  col-sm-offset-1">
                <div class="row">
                    <div class="col-sm-4">
                        <span class="checkbox inline customcheckbox">
                            <input type="checkbox" class="tectonic" id="NutritionistChat" name="NutritionistChat" [(ngModel)]="corporateFeaturs.NutritionistChat">
                            <label for="NutritionistChat">Dietitian Chat</label>
                        </span>
                    </div>
                    <div class="col-sm-4">
                        <span class="checkbox inline customcheckbox">
                            <input type="checkbox" class="tectonic" id="CounsellorChat" name="CounsellorChat" [(ngModel)]="corporateFeaturs.CounsellorChat">
                            <label for="CounsellorChat">Counselor Chat</label>
                        </span>
                    </div>
                    <div class="col-sm-4">
                        <span class="checkbox inline customcheckbox">
                            <input type="checkbox" class="tectonic" id="DoctorChat" name="DoctorChat" [(ngModel)]="corporateFeaturs.DoctorChat">
                            <label for="DoctorChat">Doctor Opinions</label>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-8 col-sm-offset-1">
                <div class="row checkwithdropdown">
                    <div class="col-sm-5">
                        <span class="checkbox inline customcheckbox">
                            <input type="checkbox" class="tectonic" id="NutritionistApp" name="NutritionistApp" [(ngModel)]="corporateFeaturs.NutritionistApp">
                            <label for="NutritionistApp">Telephonic Consultations - Dietitian</label>
                        </span>
                    </div>
                    <div class="col-sm-4 col-sm-offset-0">
                        <div class="form-control selectBoxIt customselectbox" dropdown [isDisabled]="!corporateFeaturs.NutritionistApp">
                            <div class="dropdown-toggle" dropdownToggle>
                                {{dietitionName}} <span class="caret"></span>
                            </div>
                            <ul class="dropdown-menu" *dropdownMenu>
                                <li *ngFor="let dietitian of dietitians"><a class="dropdown-item" href="javascript:;" (click)="setDietitians(dietitian.UserID)">{{dietitian.Name}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-8  col-sm-offset-1">
                <div class="row checkwithdropdown">
                    <div class="col-sm-5">
                        <span class="checkbox inline customcheckbox">
                            <input type="checkbox" class="tectonic" id="CounsellorApp" name="CounsellorApp" [(ngModel)]="corporateFeaturs.CounsellorApp">
                            <label for="CounsellorApp">Telephonic Consultations - Counsellor</label>
                        </span>
                    </div>
                    <div class="col-sm-4 col-sm-offset-0">
                        <div class="form-control selectBoxIt customselectbox" dropdown [isDisabled]="!corporateFeaturs.CounsellorApp">
                            <div class="dropdown-toggle" dropdownToggle>
                                {{counsellorName}} <span class="caret"></span>
                            </div>
                            <ul class="dropdown-menu" *dropdownMenu>
                                <li *ngFor="let counsellor of counsellors"><a class="dropdown-item" href="javascript:;" (click)="setCounsellors(counsellor.UserID)">{{counsellor.Name}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-8  col-sm-offset-1">
                <div class="row checkwithdropdown">
                    <div class="col-sm-5">
                        <span class="checkbox inline customcheckbox">
                            <input type="checkbox" class="tectonic" id="DoctorApp" name="DoctorApp" [(ngModel)]="corporateFeaturs.DoctorApp">
                            <label for="DoctorApp">Telephonic Consultations - DoctorApp</label>
                        </span>
                    </div>
                    <div class="col-sm-4 col-sm-offset-0">
                        <div class="form-control selectBoxIt customselectbox" dropdown [isDisabled]="!corporateFeaturs.DoctorApp">
                            <div class="dropdown-toggle" dropdownToggle>
                                {{doctorName}} <span class="caret"></span>
                            </div>
                            <ul class="dropdown-menu" *dropdownMenu>
                                <li *ngFor="let doctor of doctors"><a class="dropdown-item" href="javascript:;" (click)="setDoctors(doctor.UserID)">{{doctor.Name}}</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-8  col-sm-offset-1">
                <div class="row checkwithdropdown">
                    <div class="col-sm-5">
                        <span class="checkbox inline customcheckbox">
                            <input type="checkbox" class="tectonic" id="GuidedPrograms" name="GuidedPrograms" [(ngModel)]="corporateFeaturs.GuidedPrograms" (change)="ToggleGuidedDisable()">
                            <label for="GuidedPrograms">Guided Programs</label>
                        </span>
                    </div>
                    <div class="col-sm-6 col-sm-offset-0">
                        <angular2-multiselect [data]="guidedProgramme" [(ngModel)]="selectedItems"
                                              [settings]='GuidedSettings'
                                              (onSelect)="setProgramms($event)"
                                              (onDeSelect)="setProgramms($event)" name="guidedProgramme"></angular2-multiselect>

                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-8  col-sm-offset-1">
                <div class="row checkwithdropdown">
                    <div class="col-sm-5">
                        <span class="checkbox inline customcheckbox">
                            <input type="checkbox" class="tectonic" id="ProgrameAutoJoin" name="ProgrameAutoJoin" [(ngModel)]="corporateFeaturs.ProgrameAutoJoin" (change)="ToggleAutoDisable()">
                            <label for="ProgrameAutoJoin">Programe Auto Join</label>
                        </span>
                    </div>
                    <div class="col-sm-6 col-sm-offset-0">
                        <angular2-multiselect [data]="guidedAutoProgramme" [(ngModel)]="selectedAutoItems"
                                              [settings]='AutoSettings'
                                              (onSelect)="setAutoJoinProgramms($event)"
                                              (onDeSelect)="setAutoJoinProgramms($event)" name="guidedAutoProgramme"></angular2-multiselect>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>
            <div class="col-sm-8  col-sm-offset-1">
                <div class="row">
                    <div class="col-sm-4">
                        <span class="checkbox inline customcheckbox">
                            <input type="checkbox" class="tectonic" id="DietPlanBasic" name="DietPlanBasic" [(ngModel)]="corporateFeaturs.DietPlanBasic">
                            <label for="DietPlanBasic">Diet Plan Basic</label>
                        </span>
                    </div>
                    <div class="col-sm-4">
                        <span class="checkbox inline customcheckbox">
                            <input type="checkbox" class="tectonic" id="Teams" name="Teams" [(ngModel)]="corporateFeaturs.Teams">
                            <label for="Teams">Teams</label>
                        </span>
                    </div>
                    <div class="col-sm-4">
                        <span class="checkbox inline customcheckbox">
                            <input type="checkbox" class="tectonic" id="Community" name="Community" [(ngModel)]="corporateFeaturs.Community">
                            <label for="Community">Community</label>
                        </span>
                    </div>
                    <div class="col-sm-4">
                        <span class="checkbox inline customcheckbox">
                            <input type="checkbox" class="tectonic" id="HealthyBenefits" name="HealthyBenefits" [(ngModel)]="corporateFeaturs.HealthyBenefits">
                            <label for="HealthyBenefits">Healthy Benefits</label>
                        </span>
                    </div>
                    <div class="col-sm-4">
                        <span class="checkbox inline customcheckbox">
                            <input type="checkbox" class="tectonic" id="Challenges" name="Challenges" [(ngModel)]="corporateFeaturs.Challenges">
                            <label for="Challenges">Challenges</label>
                        </span>
                    </div>
                    <div class="col-sm-4">
                        <span class="checkbox inline customcheckbox">
                            <input type="checkbox" class="tectonic" id="HealthOpinion" name="HealthOpinion" [(ngModel)]="corporateFeaturs.HealthOpinion">
                            <label for="HealthOpinion">Doctor Video Chat</label>
                        </span>
                    </div>
                    <div class="col-sm-4">
                        <span class="checkbox inline customcheckbox">
                            <input type="checkbox" class="tectonic" id="InterestGroups" name="InterestGroups" [(ngModel)]="corporateFeaturs.InterestGroups">
                            <label for="InterestGroups">Interest Groups</label>
                        </span>
                    </div>
                    <div class="col-sm-4">
                        <span class="checkbox inline customcheckbox">
                            <input type="checkbox" class="tectonic" id="HealthCheckup" name="HealthCheckup" [(ngModel)]="corporateFeaturs.HealthCheckup">
                            <label for="HealthCheckup">Health Checkup</label>
                        </span>
                    </div>
                    <div class="col-sm-4">
                        <span class="checkbox inline customcheckbox">
                            <input type="checkbox" class="tectonic" id="HRAStepSkip" name="HRAStepSkip" [(ngModel)]="corporateFeaturs.HRAStepSkip">
                            <label for="HRAStepSkip">HRA Skip</label>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer" style="background:none">
            <div class="row">
                <div class="col-sm-8 col-sm-offset-3">
                    <button type="submit" class="btn-success btn btn-lg customb"><i class="fa fa-check"></i> Save & Next</button>
                    <a href="javascript:;" class="btn-default btn btn-lg customb" (click)="GoToStep('basic')"><i class="fa fa-times"></i> Back</a>
                </div>
            </div>
        </div>
    </form>
</div>